<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<h1>Seleccione la acción que desea realizar</h1>
<h2><a href="/listarUsuarios" class="btn btn-primary">Listar usuarios</a></h2>
<br>
<h2><a href="/gestionU" class="btn btn-primary">Gestionar usuarios</a></h2>
<br>
<h2><a href="/buscar" class="btn btn-primary">Buscar usuario</a></h2>

<div>
            <h2><a href="/salir" class="btn btn-primary">Salir</a></h2>
        </div>
</body>
</html>