<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gestion de compras a proveedor</title>
    <!-- Bootstrap CSS-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>       
    <div class="container">
        <!-- <h1 th:text="'Hola, ' + ${usuario.nombreCompleto} + '!'"></h1> -->
        <h2 th:if="${listaCompras.isEmpty()}">
            No hay Cuentas que Gestionar</h2>
        <div th:if="${!listaCompras.isEmpty()}">
            <h2> Gestión de Cuentas de cobro</h2>
            <br>
            <table class="table">
                <thead>
                    <tr>
                       <th>Cuenta de cobro N°</th>
                    	<th>Fecha de compra</th>
                    	<th>Producto</th>
                        <th>Razón Social</th>
                        <th>Nit</th>
                        <th>Valor Unitario</th>                        
                        <th>Cantidad</th>
                        <th>Valor Total</th>
                        <th>Estado de la cuenta</th>
                    </tr>
                </thead>
                <tbody>
                  <tr th:each="compraItem : ${listaCompras}">
                        <td th:text="${compraItem.N_cuentadecobro}">
                        <td th:text="${compraItem.fechaCompra}">
                        <td th:text="${compraItem.producto}">
                        <td th:text="${compraItem.razonSocial}">
                        <td th:text="${compraItem.nit}">
                        <td th:text="${compraItem.vUnitario}">
                        <td th:text="${compraItem.cantidadc}">
                        <td th:text="${compraItem.vTotal}">
                        <td th:text="${compraItem.estado}">
                        <td><a class="btn btn-info" th:href="@{/editarCompra/{N_cuentadecobro}(N_cuentadecobro=${compraItem.N_cuentadecobro})}">Editar</a></td>
                        <!-- <td><a class="btn btn-danger" th:href="@{/eliminarProd/{codigo}(codigo=${productoItem.codigo})}">Eliminar</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <a href="/agregarCompra/0" class="btn btn-primary">Agregar Nueva Compra</a>
        </div>
    </div>
    <div>
     <br>
            <a href="/home" class="btn btn-primary">Regresar</a>
            <br><br>
            <h2><a href="/salir" class="btn btn-primary">Salir</a></h2>
        </div>
</body>

</html>